
.parentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 4rem;
}

.form{
    margin-bottom: 16rem;
}

/*.......action buttons...........*/
.actionContainer {
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 100%;
    background-color: #e3eef7;
    height: fit-content;
    margin-top: auto;
    padding: 1rem .5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    @media (min-width: 768px) {
        padding: 4rem 2rem;
    }
}

.successButton {
    color: white;
    background-color: green;
    padding: .5rem 2rem;
    border-radius: 4px;
    font-size: 12px;
    border: none;
}

.backButton {
    color: white;
    background-color: #1d5288;
    padding: .5rem 2rem;
    border-radius: 4px;
    font-size: 12px;
    border: none;
}