
.formContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: center;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 0rem 4rem;
    }
}

.placeholderDiv {
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}

.removeLink {
    text-decoration: underline;
    color: red;
    font-style: italic;
    cursor: pointer;
}

.primaryBtn {
    padding: .2rem 2rem;
    border-radius: 6px;
    color: #1d5288;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 8px;
    @media (min-width: 768px) {
        align-self: center;
        padding: .7rem 3.5rem;
        font-size: 14px;
        font-weight: 600;
    }
}

.addButton {
    border-radius: 6px;
    color: #1d5288;
    border: none;
    cursor: pointer;
    @media (min-width: 768px) {
        align-self: center;
        padding: .7rem 3.5rem;
        font-size: 14px;
        font-weight: 600;
    }
    grid-column: 1;
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    background-color: #e3eef7;
    margin-left: auto;
    padding: .8rem 4rem;
}

.tableContainer{
    grid-column: 1;
    margin-top: 4rem;
}

.spinner{
    grid-column: 1;
    margin-left: auto;
}